.list{
    list-style-type: none;
    margin-bottom: 0;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    color: black
}

.container{
    float: left;
}

.container-right{
    float: right;
}

.footer{
    background-color: gray;
}