.link {
    color: #999999;
    text-decoration: none;
}

.list-item {
    padding: 1rem;
}

.nav{
    float: right;
}

.nav-list{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.logo-area{
    float: left;
}

.header{
    padding: 1rem 0 5rem;
}

.title{
    text-decoration: none;
    color: black
}