.top-container{
    position: relative;
}

.image{
    width: 80%;
}

.container{
    position: absolute;
    right: 0;
    top: 6rem;

    width: 18rem;
    padding: 1rem;

    background-color: #F9D93F;
}


.social-container{
    right: 0;
    top: 6rem;

    width: 5rem;
    padding: 1rem;

    background-color: #00A2FF;
}