.top-container{
    position: relative;
}

.image{
    width: 80%;
}

.container{
    position: absolute;
    right: 0;
    top: 7rem;

    width: 18rem;
    padding: 1rem;
    
    background-color: #F9D93F;
}