.container{
    .section{
        display: flex;
        border-bottom: 1px solid black;
        .left{
            width: 58%;
            .img-container{
                margin: 0 auto;
                background-position: bottom center;
                background-repeat: repeat-y;
                background-size: cover;
                height: 100%;
                width: 100%;
            }
        }
        .right-content{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            padding-right: 3rem;
            padding-top: 5rem;
            .title{
                font-family: Roc Grotesk, "roc-grotesk", sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin-left: 5rem;
                margin-right: 3rem;
                margin-top: 30%;
                max-width: 18rem;
            }
        }
        .left-content{
            width: 58%;
            padding-right: 2rem;
        }
        .right{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            .fixed-image{
                margin: 0 auto;
                height: 100%;
            }
        }
    }
    #last{
        margin-bottom: -1rem;
    }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        .section{
            display: flex; 
            flex-flow: column;
            border-bottom: 1px solid black;
            .left{
                width: 100%;
                order: 4;
                height: 25rem;
                .img-container{
                    top: 0;
                    transform: translateY(0);
                    margin: 0 auto;
                }
            }
            .right-content{
                border-left: none;
                margin-right: 0;
                width: 100%;
                order: 3;
                padding-bottom: 2rem;
                .title{
                    margin-top: 0;
                    margin-left: 2rem;
                }
            }
            .left-content{
                width: 100%;
                padding: 0;
                order: 1;
                padding-right: 2rem;
            }
            .right{
                width: 100%;
                border-left: none;
                height: 34rem;
                order: 2;
                .fixed-image{
                    top: 0;
                    transform: translateY(0);
                    height: 20rem;
                    margin: 1rem auto;
                }
            }
        }
        #last{
            .right{
                display: none;
            }
        }
    }
}