.container{
    .section{
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        border-bottom: 1px solid black;
        .left{
            content: "";
            width: 58%;
            padding-top: 5rem;
            padding-bottom: 5rem;
            .img-container{
                width: 75%;
                margin: 0 auto;
            }
        }
        .right-content{
            width: 42%;
            margin-left: auto;
            position: relative;
            padding-top: 5rem;
            padding-bottom: 5rem;
            border-left: 1px solid black;
            .title{
                font-family: roc-grotesk, sans-serif;
                font-size: 2rem;
                font-weight: 500;
                margin-left: 5rem;
                margin-right: 3rem;
            }
        }
        .left-content{
            width: 58%;
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        .right{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            .fixed-image{
                display: absolute;
                top: 50%;
                transform: translateY(25%);
                left: 0;
                width: 20rem;
                margin: 0 auto;
            }
        }
    }
    #last{
        margin-bottom: -1rem;
    }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        .section{
            padding-left: 3rem;
            padding-right: 3rem;
            border-bottom: none;
            display: inline;
            .left{
                width: 100%;
                border-bottom: 1px solid black;
                .img-container{
                    top: 0;
                    transform: translateY(0);
                    width: 20rem;
                    margin: 6rem auto;
                }
            }
            .right-content{
                border-left: none;
                margin-right: 0;
                width: 100%;
                border-bottom: 1px solid black;
            }
            .left-content{
                width: 100%;
                padding: 0;
            }
            .right{
                width: 100%;
                border-left: none;
                height: 20rem;
                .fixed-image{
                    top: 0;
                    transform: translateY(0);
                    width: 20rem;
                    margin: 2rem auto;
                }
            }
        }
        #last{
            .right{
                display: none;
            }
        }
    }
}