.container{
    .section{
        padding-left: 5rem;
        padding-right: 5rem;
        display: flex;
        border-bottom: 1px solid black;
        .left{
            width: 58%;
            .img-container{
                margin: 0 auto;
                height: 100%;
            }
        }
        .right-content{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            .title{
                font-family: Roc Grotesk, "roc-grotesk", sans-serif;
                font-size: 2rem;
                font-weight: 500;
                margin-left: 5rem;
                margin-right: 3rem;
                margin-top: 5rem;
            }
        }
        .left-content{
            width: 58%;
            padding-top: 8rem;
            padding-bottom: 8rem;
        }
        .right{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            .fixed-image{
                margin: 0 auto;
                height: 100%;
            }
        }
    }
    #last{
        margin-bottom: -1rem;
    }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        .section{
            padding-left: 3rem;
            padding-right: 3rem;
            display: flex; 
            flex-flow: column;
            border-bottom: 1px solid black;
            .left{
                width: 100%;
                order: 4;
                height: 25rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                .img-container{
                    top: 0;
                    transform: translateY(0);
                    height: 20rem;
                    margin: 2rem auto;
                }
            }
            .right-content{
                border-left: none;
                margin-right: 0;
                width: 100%;
                order: 3;
                padding-top: 2rem;
                padding-bottom: 2rem;
                .title{
                    margin-top: 0;
                    margin-left: 3rem;
                }
            }
            .left-content{
                width: 100%;
                padding: 0;
                order: 1;
            }
            .right{
                width: 100%;
                border-left: none;
                height: 34rem;
                order: 2;
                .fixed-image{
                    top: 0;
                    transform: translateY(0);
                    height: 20rem;
                    margin: 1rem auto;
                }
            }
        }
        #last{
            .right{
                display: none;
            }
        }
    }
}