
.text-content{
    margin: 8rem 5rem;
}
.title{
    font-family: Roc Grotesk;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 6rem;
}
.desc{
    font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; 
    font-weight: 500;
    font-size: .9rem;
}
.button-container{
    position: relative;
}

.button{
    width: 7.6rem;
    min-height: 2rem;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.button>img{
    height: 100%;
}

#android{
    width: 9rem;
}