.intro-container{
    display: flex;
    border-bottom: 1px solid black;
    .text-content{
        margin: 6rem 0;
        position: relative;
        width: 58%;
        padding-left: 5rem;
        .title{
            font-family: Roc Grotesk, "roc-grotesk", sans-serif;
            font-weight: 600;
            font-size: 2rem;
            margin-bottom: 6rem;
        }

        .desc{
            font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; 
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 2rem;
            margin-bottom: 3rem;
            max-width: 80%;
        }
        .buttoncontainer{
            position: relative;
            height: 3rem;
            .button{
                width: 7.6rem;
                float: left;
                margin-right: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    .right{
        width: 42%;
        height: 100%;
        margin-left: auto;
        background-color: #C69EC1;
        border-left: 1px solid black;
        display: flex;
        .video-container{
            margin: 0 auto;
            width: 20rem;
            min-height: 100%;
        }
    }
}

#android{
    width: 9rem;
}

$breakpoint-large: 700px;
@media (max-width:$breakpoint-large){
    .img-container{
        width: 8rem;
    }
}
$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .intro-container{
        display: inline-block;
        width: 100%;
        overflow: hidden;
        .text-content{
            padding-left: 2rem;
            padding-right: 2rem;
            width: 100%;
            margin-left: 0;
            .desc{
                margin-bottom: 5rem;
            }
            .button-container{
                clear:both;
                display: inline-block;
            }
            
        }
        .right{
            border-left: none;
            height: 32rem;
            width: 100%;
            border-top: 1px solid black;   
            .video-container{
                height: 100%;
                #video{
                    height: 75%;
                }
            }
        }
    }
    
    #video-container{
        height: 75vh;
        padding:0;
        margin:-12px 0 0 0 ;
    }
    
}