.container{
    float: left;
    width: 45%;
    height: 18rem;
    margin: 2%;
    background-color: white;
    display: block;
    border-radius: .2rem;
}

.image-container{
    position: relative;
    height: 150px;
}

.image{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
}

.content{
    padding: .5rem;
    min-height: 150px;
    position: relative;
}

.heading{
    max-height: 100px;
    font-size: .9rem;
    text-overflow: ellipsis;
    padding: .2rem 0 0;
}

.text{
    font-size: .9rem;
}

.button{
    position: absolute;
    bottom: .5rem;
    width: 100px;
    text-align: center;
    right: .5rem;
    text-decoration: none;
    font-size: .9rem;
    border-radius: .1rem;
    color: white;
    background-color: #00A2FF;
    padding: .3rem .2rem .2rem;
}

.button:hover{
    background-color: rgba(0, 162, 255, 0.797);
}


$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {

    .container{
        height: 15rem;
    }

    .content{

        min-height: 120px;
        padding: .4rem;
    }

    .image-container{
        height: 80px;
    }
    .image{
        padding: .4rem;
    }

    .heading{
        max-height: 80px;
        font-size: .7rem;
        text-overflow: ellipsis;
        padding: .05rem 0 0;
        margin-bottom: .2rem;
    }

    .text{
        font-size: .6rem;
        margin-bottom: .2rem;
    }
    
    .button{
        bottom: .1rem;
        right: 50%;
        transform: translateX(50%);
        width: 7rem;
        text-align: center;
    }
    
}