.container{
    .section{
        display: flex;
        border-bottom: 1px solid black;
        .left-content{
            width: 58%;
            padding-top: 6rem;
            padding-right: 5rem;
            .title{
                font-family: Roc Grotesk, "roc-grotesk", sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin-left: 5rem;
                margin-right: 3rem;
                margin-top: 3rem;
            }
            p{
                max-width: 70%;
                padding-left: 5rem;
                margin-top: 2rem;
                margin-bottom: 3rem;
            }
        }
        .right{
            width: 42%;
            margin-left: auto;
            border-left: 1px solid black;
            .fixed-image{
                margin: 0 auto;
                height: 100%;
            }
        }
        .left{
            width: 58%;
            .img-container{
                margin: 0 auto;
            }
        }
        .right-content{
            width: 42%;
            margin-left: auto;
            position: relative;
            padding-top: 5rem;
            padding-bottom: 5rem;
            border-left: 1px solid black;
        }
        
    }
}



$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        .section{
            // padding-left: 3rem;
            // padding-right: 3rem;
            display: flex; 
            flex-flow: column;
            border-bottom: 1px solid black;
            .left-content{
                width: 100%;
                padding-top: 2rem;
                order: 1;
                padding-right: 0;
                .text{
                    padding-left: 2rem;
                }
                .title{
                    margin: 5rem 2rem;
                    padding: 0;
                }
            }
            .right{
                width: 100%;
                .fixed-image{
                    padding: 0;
                    width: 100%;
                    & > img{
                        object-fit: contain;
                    }
                }
            }
            .left{
                width: 100%;
                order: 3;
                .imgContainer{
                    margin: 0 auto;
                    & > img{
                        object-fit: contain !important;
                        object-position: 50% 50% !important; 
                    }
                }
            }
            #empty{
                display: none;
            }
            .right-content{
                border-left: none;
                margin-right: 0;
                width: 100%;
                order: 4;
                padding-top: 2rem;
                padding-bottom: 2rem;
                .title{
                    margin-top: 0;
                    margin-left: 3rem;
                }
            }
            
            .right{
                width: 100%;
                border-left: none;
                order: 2;
            }
        }
        #last{
            .right{
                display: none;
            }
        }
    }
}


$breakpoint-sp: 600px;
@media (max-width: $breakpoint-sp) {
    .container{
        .section{
            .left-content{
                .title{
                    margin-left: 0rem;
                    padding-left: 2rem;
                }
            }
            .left{
                padding-top: 0;
                .img-container{
                    height: 20rem;
                }
            }
            .right-content{
                display: none;
            }
        }
    }
}