.container{

    padding-left: 2rem;
    .text{
        text-align: left;
        font-size: .9rem;
    }
}


$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        position: relative;
        .text{
            max-width: 80%;
        }
    }
    img{
        order: 2;
    }
}