.list{
    list-style-type: none;
    margin-bottom: 0;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.container{
    float: left;
}

.container-right{
    float: right;
}

.footer-container{
    margin: 0 5rem;
}

.image{
    width: 5rem;
    margin-right: 2rem;
}


$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
    .footer-container{
        margin: 0 3rem;
    }
    .image{
        width: 3.5rem;
        margin-right: 1.5rem;
    }
}