.list{
    list-style-type: none;
    margin-bottom: 0;
    a {
        text-decoration: none;
        color: black;
    }
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.container{
    float: left;
}

.container-right{
    float: right;
}

.footer-container{
    margin: 0 5rem;
}

.image{
    width: 7rem;
    margin-right: 2rem;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    a+small{
        text-decoration: none;
        color: black;
    }
    small{
        font-weight: 700;
        font-size: .8rem;
    }
}

.wrapper-right{
    display: flex;
}

.footer-text{
    margin-left: 5%;
}

$breakpoint-tablet: 1000px;
@media (max-width: $breakpoint-tablet) {
    .container{
        clear: both;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-container{
        margin: 0 auto;
    }
    .image{
        margin-right: 1.5rem;
        margin-bottom: 1rem;
    }
    .container-right{
        display: flex;
        justify-content: center;
        width: 100%;
        .wrapper-right{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .footer-section{
                width: 100%;
                margin: 0 auto;
                justify-content: center;
                .bottomNav{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }
                a{
                    .list{
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }
        }
    }
    .footer-text{
        margin-left: 0;
    }
}



$breakpoint-sp: 400px;
@media (max-width: $breakpoint-sp) {
    .footer-container{
        margin:0;
    }
    .container-right{
        clear: both;
    }
}