.top-container{
    position: relative;
}

.image{
    width: 90%;
}

.container{
    position: absolute;
    right: 0;
    top: 6rem;
}



$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
  .container-text{
    width: 10rem;
    padding: .5rem;
  }
}