.intro-container{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.heading{
    font-size: 1.2rem;
    text-align: center;
}

.text{
    font-size: .9rem;
    text-align: center;
}


$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
    .intro-container{
        margin-top: 12rem;
        margin-bottom: 3rem;
    }
    
}