.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6F6F6;
}

.content {
    margin: 5rem auto 1rem;
    padding: 1rem;
    flex-grow: 1;
}

.footer-container{
    background-color: rgb(17, 17, 17);
    padding: 1rem;
}

$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
  .content{
      width: 320px;
      margin: 7rem auto 1rem;
  }
}
