.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3c91f;
}

.content {
  margin-top: 7.5rem;
  margin-bottom: 1rem;
  padding: 0rem;
  flex-grow: 1;
}

.footer-container {
  background-color: #c9caca;
  padding: 1rem;
}

.container-white {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.container-placelist {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f2;
}
