.container{
    .row{
        display: flex;
        border-bottom: 1px solid black;
        .left{
            width: 58%;
        }
        .right-content{
            width: 42%;
            margin-left: auto;
            position: relative;
            padding-top: 5rem;
            padding-bottom: 5rem;
            border-left: 1px solid black;
            .title{
                font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
                font-size: 2rem;
                font-weight: 700;
                margin-left: 5rem;
                margin-right: 3rem;
                margin-top: 3rem;
            }
        }

        .left-content{
            width: 58%;
            padding-bottom: 3rem;
            .img-container{
                height: 100%;
                vertical-align: middle;
                margin: 0 auto;
            }

            .member-container{
                margin-top: 3rem;
                margin-bottom: 5rem;
            }

        }
        .right{
            width: 42%;
            margin-left: auto;
            position: relative;
            padding-top: 5rem;
            padding-bottom: 5rem;
            border-left: 1px solid black;
        }
    }
    margin-bottom: -1rem;
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        .row{
            padding:0;
            .left{
                display: none;
            }
            .right-content{
                width: 100%;
                border-left: none;
                position: relative;
                height: 20rem;
                .title{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    margin:0;
                }
            }
            .left-content{
                width: 100%;
            }
            .right{
                display: none;
            }
        }
    }
}