.container{
    float: left;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2rem;
    margin-top: 2%;
    height: 26rem;
}

.image-container{
    width: 14rem;
    height: 14rem;
    margin: 1rem auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: fill;
}

.text-container{
    width: 14rem;
    margin: 1rem auto;
    padding: 0;
    .title{
        font-size: .9rem;
        margin-bottom: .5rem;
        padding: 0;
    }
    .designation{
        font-size: .8rem;
        margin-bottom: .5rem;
        color: black;
        font-style: oblique;
        padding: 0;
    }
    .intro{
        font-size: .7rem;
        padding: 0;
        line-height: 1.4rem;
    }
}

$breakpoint-tablet: 600px;
@media (max-width: $breakpoint-tablet) {
    .container{
        width: 100%;
    }
}