.container{
    margin: 5rem;
    .text{
        text-align: left;
        font-size: .9rem;
    }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}