.container{
    margin: 5rem;
    .text{
        text-align: left;
        font-size: .9rem;
        margin: 5rem 0;
    }
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        margin: 2rem;
    }
}