.container{
    display: inline;
    border-bottom: 1px solid black;
}


.microsoft{
    display: flex;
    border-bottom: 1px solid black;
    background-color: #006935;
    .left-content{
        width: 58%;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 5rem;
        .title{
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 2rem;
        }
        a{
            color: white;
            font-weight: 600;
        }
        .image{
            width: 15rem;
            margin-top: 3rem;
        }
    }
    .right{
        content: "";
        width: 42%;
        margin-left: auto;
        position: relative;
        background-color: #f3c91f;
        border-left: 1px solid black;
    }
}

.wired{
    display: flex;
    border-bottom: 1px solid black;
    .left{
        width: 58%;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 5rem;
    }
    .right-content{
        background-color: #f4f1ec;
        width: 42%;
        margin-left: auto;
        position: relative;
        padding-top: 8rem;
        padding-bottom: 8rem;
        border-left: 1px solid black;
        .title{
            font-size: 1.2rem;
            margin-left: 5rem;
            margin-right: 3rem;
            font-weight: 700;
            line-height: 2rem;

            .specChar{
                letter-spacing: -1rem;
            }
        }
        a{
            margin-left: 5rem;
            margin-right: 5rem;
            color: black;
            font-weight: 600;
        }
        .wired-image{
            width: 15rem;
            margin-left: 5rem;
            margin-top: 2rem;
        }
    }
}

.yamanote{
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: -1rem;
    background-color: #255ba2;
    .left-content{
        width: 58%;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 5rem;
        .title{
            color: white;
            font-size: 2rem;
            font-weight: 500;
            font-family: Roc Grotesk, "roc-grotesk", sans-serif;
        }
        .desc{
            color: white;
            font-size: .9rem;
            font-weight: 600;
            line-height: 2rem;
            width: 90%;
        }
        a{
            color: white;
            font-weight: 600;
        }
        .image-container{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 3rem;
            flex-wrap: wrap;
            .jr-image{
                margin-right: 1rem;
                min-width: 20rem;
            }
        }
    }
    .right{
        content: "";
        width: 42%;
        margin-left: auto;
        position: relative;
        background-color: #f3c91f;
        border-left: 1px solid black;
    }
}
$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .microsoft{ 
        margin-top: -1rem;
        border-bottom: none;
        .left-content{
            width: 100%;
            margin:0;
            padding-left: 2rem;
            padding-right: 2rem;  
            .image{

                width: 100%;
                object-fit: cover;
            }
        }
        .right{
            display:none;
        }
    }

    .wired{
        .left{
            display: none;
        }
        .right-content{
            width: 100%;    
            margin-left:0;
            padding-left: 2rem;
            padding-right: 2rem;
            border-left: none;
            .title{
                line-height: 1.8;
                margin: 0;
                margin-bottom: 1.45rem;
            }
            .link{
                margin: 0;
            }
            .wired-image{
                margin: 3rem 0;

                width: 100%;
                object-fit: cover;
            }
        }
    }

    .yamanote{ 
        margin-top: -1rem;
        border-bottom: none;
        .left-content{
            width: 100%;
            margin: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            .computer{
                width: 100%;
                object-fit: cover;
            }
        }
        .right{
            display:none;
        }
    }
}