.spacing-bar {
  float: left;
  margin: 10vh 0 10vh 10%;
  color: #aaa;
  width: 80%;
  height: 3px;
}

h1,
p {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  animation: none !important;
}
