.spacing-bar {
  float: left;
  margin: 10vh 0 10vh 10%;
  color: #aaa;
  width: 80%;
  height: 3px;
}

.container {
  a:visited,
  a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
  }

  button {
    border-width: 0;
    background: none;
    padding: 0;
  }
}
