.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.back-button {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-top: 3rem;
  font-family: Helvetica Neue, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.back-arrow {
  width: 5%;
  max-width: 30px;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-arrow::after {
  display: block;
  background-color: black;
  height: 2px;
  width: 100%;
  content: " ";
}

$head-size: 0.4rem;
.back-arrow::before {
  display: block;
  width: 0;
  height: 0;
  border-top: $head-size solid transparent;
  border-bottom: $head-size solid transparent;
  border-right: $head-size solid black;
  content: " ";
}

.title {
  font-family: Helvetica Neue, "Helvetica Neue", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 5vh;
}

$spacing: 10px;
.action-type {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  padding: 0 10px 0 10px;
  font-family: Helvetica Neue, "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.action-type a {
  font-size: 0.8333rem;
  height: fit-content;
  line-height: 100%;
  letter-spacing: 0.1rem;
}

$vertical-space: 6vh;
.main-content {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
}

.store-image {
  width: 50vh;
  height: 50vh;
  margin: 0 30px 0 30px;
  object-fit: cover;
}

.embed-container {
  position: relative;
  flex-shrink: 10000;
  min-height: 300px;
  height: 50vh;
  padding-bottom: 300px; // to avoid re-rendering on load due to resize
  overflow: hidden;
  width: 50vh;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.artist-image {
  width: 5rem;
  border-radius: 50%;
  margin: 1rem;
}

.artist-name {
  font-size: 1.3rem;
  font-family: Helvetica Neue, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.check {
  width: 1rem;
  height: 1rem;
  margin: 0;
}

.description {
  width: 58%;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  white-space: pre-wrap;
}

.artist-description {
  width: 58%;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  white-space: pre-wrap;
  text-align: left;
}

a:visited,
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.share-text {
  font-family: Helvetica Neue, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 5px;
  letter-spacing: 0.05rem;
}

.share-icons {
  min-width: 300px;
  width: 15vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;

  button {
    cursor: pointer;
  }

  img {
    height: 2rem;
    width: 2rem;
  }
}

.none {
  display: none;
}

.invisible {
  position: fixed;
  // we can't use diplay:none
  // visibility: hidden
  // width:0;height:0;
  // because the browser will not let us copy text if the element is "invisible"
  top: 105vh;
}

$breakpoint-tablet: 800px;
@media (max-width: $breakpoint-tablet) {
  .main-content {
    flex-direction: column;
    margin-bottom: 30px;
    // margin-top: 30px;
  }
  .title {
    font-size: 1.6rem;
  }
  .store-image {
    width: 70vw;
    height: 70vw;
  }

  .embed-container {
    width: 70vw;
  }
  .back-button {
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .description {
    width: 70vw;
    font-size: 0.8rem;
  }

  .artist-description {
    width: 70vw;
    font-size: 0.8rem;
  }
}
