
.container{
    .row{
        display: flex;
        border-bottom: 1px solid black;
        .left-content{
            width: 58%;
            padding-left: 5rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            .title{
                font-family: Roc Grotesk,"roc-grotesk", sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin-right: 3rem;
                margin-top: 3rem;
            }
            .descTop{
                width: 80%;
            }
            .desc{
                padding-right: 5rem;
                font-size: .9rem;
            }
            .project-top{
                display: flex;
                vertical-align: bottom;
                position:relative;
                margin-top: 5rem;
                height: 4rem;
                .cross{
                    width: 3rem;
                    position: absolute;
                    bottom:0;
                }
                .logo{
                    width: 8rem;
                    position: absolute;
                    left: 3.4rem;
                    bottom:0;
                }
                .byLine{
                    position: absolute;
                    left: 12rem;
                    bottom:0;
                    #tanaka{
                        margin-bottom:0;
                        padding:0;
                    }
                }
            }
        }
        .pqr-content{
            width: 58%;
            padding-left: 5rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            .title{
                font-family: Roc Grotesk,"roc-grotesk", sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin-right: 3rem;
                margin-top: 3rem;
            }
            .descTop{
                width: 80%;
            }
            .desc{
                padding-right: 5rem;
                font-size: .9rem;
            }
        }
        .right{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            .img{
                height: 100%;
                &> img{
                    background-position: bottom center;
                    background-repeat: repeat-y;
                    background-size: cover;
                }
            }
            .img-top{
                height: 50%;
                &> img{
                    background-position: bottom center;
                    background-repeat: repeat-y;
                    background-size: cover;
                }
            }
            .img-bottom{
                height: 50%;
                &> img{
                    background-position: bottom center;
                    background-repeat: repeat-y;
                    background-size: cover;
                }
            }
            .pqr{
                width: 100%;
                height: 100%;
                &> img{
                    background-position: bottom center;
                    background-repeat: repeat-y;
                    background-size: cover;
                }
            }
        }
    }

    .kenta{
        display: flex;
        background-color:#006935;
        .left-content{
            width: 58%;
            padding-top: 5rem;
            padding-left: 5rem;
            background-color: #f3c91f;
            padding-bottom: 5rem;

            .title{
                font-family: Roc Grotesk,"roc-grotesk", sans-serif;
                font-size: 2rem;
                font-weight: 600;
                margin-right: 3rem;
                margin-top: 3rem;
            }
            .desc{
                padding-right: 5rem;
                font-size: .9rem;
            }
            .project-top{
                display: flex;
                vertical-align: bottom;
                position:relative;
                margin-top: 5rem;
                height: 4rem;
                .cross{
                    width: 3rem;
                    position: absolute;
                    bottom:0;
                }
                .logo{
                    width: 8rem;
                    position: absolute;
                    left: 3.4rem;
                    bottom:0;
                }
                .byLine{
                    position: absolute;
                    left: 12rem;
                    bottom:0;
                    #tanaka{
                        margin-bottom:0;
                        padding:0;
                    }
                }
            }
        }
        .right{
            width: 42%;
            margin-left: auto;
            position: relative;
            border-left: 1px solid black;
            .img{
                width: 80%;
                margin: 0 auto;
                margin-top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    margin-bottom: -1rem;
    
}

#tanaka-title{
    font-size: .9rem;
    margin-bottom: 0;
}

#tanaka{
    margin-top: 0;
    font-family: Roc Grotesk, "roc-grotesk", sans-serif;
    font-weight: 500;
}

$breakpoint-tablet: 900px;
@media (max-width: $breakpoint-tablet) {
    .container{
        .row{
        display: flex; 
        flex-flow: column;
        border-bottom:black solid 1px;
            .left-content{
                width:100%;
                padding-left: 2rem;
                
            }
            .right{
                width: 100%;
                border-left: none;
            }
            .pqr-content{
                width:100%;
                padding-left: 2rem;
                margin-top: 5rem;
                margin-bottom: 3rem;
                .title{
                    margin-top: 0;
                }
            }
            
        }
        .kenta{
        display: flex; 
        flex-flow: column;
            .left-content{
                width:100%;
                margin: 0 auto;
                padding-left:2rem;
            }
            .right{
                width: 100%;
                border-left: none;
            }
        }
    }
    
}

$breakpoint-sp: 600px;
@media (max-width: $breakpoint-sp) {
    .container{
        .kenta{  
            .left-content{
                width:100%;
                margin: 0 auto;
            }
            .right{
                border-left: none;
                margin-top:0;
                position: relative;
                .img{
                    width: 80%;
                }
            }
            }
    }
}