.container{
    display: inline;
    border-bottom: 1px solid black;
    .image-container{
        background-color: white;
        height: 100%;
        margin: 0 0 -1rem 0;
        overflow: hidden;
    }
    .title{
        margin: 3rem auto;
        max-width: 65%;
        padding-left: 2rem;
    }
    .image{
        margin: 3rem auto;
        max-width: 65%;
        background-color: white;
    }
}


$breakpoint-sp: 600px;
@media (max-width: $breakpoint-sp) {
    .container{
        .image{
            margin: 3rem auto;
            max-width: 90%;
        }
    }
}

